body {
    
    color: rgb(164, 164, 162);
    font-family: "PT Serif", serif;
    text-align: center; 
    margin: 20px auto; 
    background: linear-gradient(to bottom, #161621, #465669);   
}
.comment-box {
    margin-bottom: 20px;
}
.comment-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin: 20px auto;
}
.submit-button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.comment-display {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#button-return{
    border-bottom-style: none;
    margin-top: 50px;
    width: 100% ;
    height: 40px;
    background-color: rgb(204, 201, 201);
    color: black;
    border-radius: 20px;
    border: none;
}