body {
    
    color: rgb(164, 164, 162);
    font-family: "PT Serif", serif;
    text-align: center; 
    margin: 20px; 
    background: linear-gradient(to bottom, #161621, #465669);   
}

.container-header {
    display: flex;
    margin: 20px 0;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}
.container-header img{
    
    height: 250px;
    width: auto;
    border-radius: 120px;
}

.linha-container{
    background-color: grey;
    height: 2px;
    width: 80%;
    margin: 20px auto;
}

#button-return{
    border-bottom-style: none;
    margin-top: 50px;
    width: 100% ;
    height: 40px;
    background-color: rgb(204, 201, 201);
    color: black;
    border-radius: 20px;
    border: none;
}