
body{
    margin: 0px 400px 100px 400px;
    background-color: rgb(206, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    text-align: center;
}
nav h1{
    margin: 0;
}
.container-header {
    display: flex;
    margin: 20px 0;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}
.container-header img{
    
    height: 310px;
    width: auto;
    border-radius: 50px;
}

.linha-container{
    background-color: grey;
    height: 2px;
    width: 80%;
    margin: 20px auto;
}

#button-return{
    border-bottom-style: none;
    width: 100px ;
    height: 40px;
    background-color:transparent;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


/* containers que possuem informações */
.containers{
    padding: 50px 100px 100px 100px;
    background-color: rgb(181, 181, 181);
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
}


/* containers de cada experiência*/

.containers-experiencias{
    padding: 20px 0px;
    gap: 10px;
}

#container-habilidades{
    display: flex;
    gap: 15px;
}

.titulo-container{
    color:black;
    font-weight: bold;
    font-size: 20px;

}


/* responsividade para celular */
@media (max-width: 768px){
    
    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #nome{
        font-size: 20px;
    }

    h2{
        font-size: 15px;
    }

    #button-return{
        border-radius: 0px;
        color: black;
        align-items: center;
        width: 100%;
        background-color: transparent
    }

    img{
        max-width: 200px;
        max-height: 200px;
    }

    .containers{
        width: 250px;
        padding: 50px;
    }


    #container-habilidades{
        display: block;
    }
    .container-header{
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    button{
        padding: 40px 20px 50px 20px;
    }

    .titulo-span {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    span {
        text-decoration: none; 
        color: inherit; 
      }

    
}