body {
    
    color: rgb(164, 164, 162);
    font-family: Helvetica;
    text-align: center; 
    margin: 20px; 
    background: linear-gradient(to bottom, #161621, #465669);   
}

h1 {
    font-size: 2em;
}

.linha-vertical {
    width: 2px; 
    height: 20px; 
    background-color: rgb(104, 104, 104);
    margin: 20px auto; 
}

h2 {
    font-size: 1.5em;
}

.foto-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0; 
}

.foto {
    width: 331px;
    height: auto; 
    margin-bottom: 10px; 
    border-radius: 50px;
    
    
}

.linha-horizontal {
    width: 100%; 
    height: 2px; 
    background-color: rgb(104, 104, 104); 
    margin: 20px 0; 
}

.icones-container {
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin: 70px;
    ; 
    height: 50px;
}
.linha-horizontal2 {
    width: 100%; 
    height: 2px; 
    background-color: rgb(136, 136, 136); 
    margin: 20px 0; 
}

.icones-container i {
    font-size: 50px; 
    color: black; 
}

.icons-container2 img {
    height: 50px;
    width: 50px;
    margin: 40px;

}

.icons-container2{
    display: flex;
    justify-content: center;
}




.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #5d6a78; 
    color: white; 
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease; 
    z-index: 1000;
}

.navbar ul {
    list-style: none; 
    padding: 10px;
    margin: 0; 
    font-size: 22px;
    font-family: "PT Serif", serif;
}

.navbar li {
    margin: 65px 0;
}

.navbar a {
    color: white; 
    text-decoration: none; 
}

.icon-button {
    background: none; 
    border: none; 
    cursor: pointer; 
}

.icon-button img {
    width: 50px; 
    height: 50px; 
}


/* Responsividade para celular*/

@media (max-width: 768px){

    h1{
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
    }

    img{
        max-width: 200px;
        max-height: 200px;
    }

    #nome{
        font-size: 20px;
    }

    .icon-button img {
        width: 40px;
        height: 40px;
    }
    .icones-container{
        margin: 50px;
    }

    .icons-container2 img{
        width: 30px;
        padding: 0px;
        margin: 20px;
    }


}