body{

    background: linear-gradient(to bottom, #161621, #465669);
    color: rgb(164, 164, 162);
    font-family: "PT Serif", serif;
    text-align: center; 
    margin: 20px; 
}

#linha-vertical2 {
    width: 2px; 
    height: 30px; 
    background-color: rgb(104, 104, 104); 
    margin: 20px auto; 
}

.imagem-container img{
    height: 303px;
    width: auto;
    border-radius:120px;
}

.imagem-container{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0; 
}

.video-container{
    width: 80%;
    max-width: 640px;
    margin: auto;
}
iframe {
    width: 100%;
    height: 360px;
    border-radius: 40px;
}

#button-return{
    border-bottom-style: none;
    margin-top: 50px;
    width: 100% ;
    height: 40px;
    background-color: rgb(204, 201, 201);
    color: black;
    border-radius: 20px;
    border: none;
}